.big-box {
    width: 375px;
    height: 738.5px;
    margin: auto;

}

.gz {
    padding-top: 31.5px;
    display: flex;
}

.gz1 {
    margin-left: 34px;
    width: 35px;
}

.gz2 {

    width: 11.5px;
}

.shu {
    display: flex;
    width: 325px;
    height: 37.5px;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
}

.shu1 {
    width: 30px;
    height: 17px;
}

.shuz {
    padding-top: 10px;
    width: 40px;
    height: 10px;
    font-size: 5px;
    margin-left: 2px;
}

.kong {
    width: 345px;
    height: 10px;
    background-color: #F4F4F4;
    margin: auto;
    margin-top: 15px;
}

.renm {
    padding-top: 15px;
    padding-left: 16px;
    display: flex;
}

.rem {
    width: 74px;
    height: 18px;
    font-size: 18px;
}

.rem1 {
    width: 62px;
    height: 10px;
    padding-left: 201px;
    font-size: 10px;
    margin-top: 5px;

}

.tu {
    display: flex;
    width: 311px;
    margin-top: 23px;
    margin-left: 16px;
}

.tu1 {
    width: 110px;
    height: 90px;
    margin-left: 7px;
}

.tu2 {
    display: flex;
    width: 311px;
    margin-top: 9px;
    margin-left: 16px;
}

.tuzi {
    font-size: 12px;
    color: #F4F4F4;
    margin-top: -75px;
    text-align: center;
}

.tuzi1 {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.tuzi2 {
    font-size: 12px;
    text-align: center;
    color: #F4F4F4;
    margin-top: 10px;
}

.laiyuan {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}

.lanyuan1 {
    color: #8B8B8B;
    font-size: 12px;
}

.lanyuan2 {
    font-size: 12px;
    color: #88BAFE;
}

.evaluate {
    margin-top: 25px;
    width: 311px;
    height: 25px;
    display: flex;
    margin-left: 16px;
}

.evaluate1 {
    width: 28px;
    height: 28px;
}

.evaluate2 {
    font-size: 10px;
    width: 42px;
    height: 10px;
    margin-top: 5px;
    margin-left: 8px;
}

.evaluate3 {
    font-size: 8px;
    width: 54px;
    height: 21px;
    border: 1px solid #88BAFE;
    text-align: center;
    line-height: 21px;
    border-radius: 10px;
    margin-left: 205px;
}

.liul {
    width: 104px;
    height: 12px;
    font-size: 12px;
    font-family: PingFangSC;
    font-weight: bold;
    color: #000000;
    line-height: 12px;
    margin-left: 15px;
    margin-top: 14px;
}

.liu {
    width: 344px;
    height: 56px;
    font-size: 11px;
    font-family: PingFangSC;
    font-weight: bold;
    color: #424242;
    line-height: 15px;
    margin-left: 15px;
    margin-top: 14px;
}

.yi {
    width: 345px;
    height: 150px;
    margin: auto;
    margin-top: 15px;
}

.yif {
    display: flex;
    margin-top: 15px;
}

.yif1 {
    width: 50px;
    height: 10px;
    font-size: 10px;
    font-family: PingFangSC;
    font-weight: bold;
    color: #686868;
    line-height: 12px;
    margin-left: 14px;
}

.dot {
    display: flex;
    margin-left: 170px;
}

.dot1 {
    width: 22px;
    height: 22px;
    margin-left: 12px;
}

.dot2 {
    font-size: 12px;
    margin-top: 8px;
}